$primary-color: #d67a24;
$hover-primary-color: #b46821;
$primary-gray: #f0f2f5;
$standard-distance: 20px 40px;
$small-distance: 10px 20px;
$button-padding: 10px 20px;
$standard-radius: 10px;
$standard-margin: 30px;
$small-button: 100px;
$standard-opacity: 0.7;
